.wd-login-page {
    height: 100vh;
}

.wd-logo-container > img {
    width: 10rem;
    height: 3rem;
}

.form-group .form-label {
    font-size: 20px;
}

.form-group .form-control {
    height: 3rem;
}

span > hr {
    width: 46%;
}

a {
    text-decoration: none;
    font-weight: 600;
}

button {
    height: 3rem;
}